name: Build and Test All

on:
  push:
    branches: [ main, test-ready, "*-bugfix" ]
  pull_request:
    branches: [ main, test-ready, "*-bugfix" ]
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix: 
        ev-lib: [libev, libuv, libevent]
    env:
      LIBYAML_VERSION: 0.2.5
      LIBCHECK_VERSION: 0.15.2
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - name: Install event libs
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get install -y libevent-dev libev-dev libuv1-dev libyaml-dev
        elif [ "$RUNNER_OS" == "macOS" ]; then
          brew update
          brew install libuv libev libevent automake
        else
          echo "$RUNNER_OS not supported"
          exit 1
        fi
    - name: install lcov
      run: |
        wget "https://github.com/linux-test-project/lcov/archive/refs/tags/v1.16.zip"
        unzip v1.16.zip
        cd lcov-1.16
        sudo make install
    - name: Download libcheck
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      with:
        repository: libcheck/check
        submodules: recursive
        ref: ${{ env.LIBCHECK_VERSION }}
        path: check-${{ env.LIBCHECK_VERSION }}
    - name: Cache libcheck
      id: cache-libcheck
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      env:
        cache-name: libcheck
      with:
        path: check-${{ env.LIBCHECK_VERSION }}
        key: check-${{ env.LIBCHECK_VERSION }}-v2-${{ runner.os }}
    - name: Build libcheck
      id: build-libcheck
      if: steps.cache-libcheck.outputs.cache-hit != 'true'
      run: |
        cd check-${{ env.LIBCHECK_VERSION }}
        autoreconf -i
        ./configure
        make
        make check
    - name: install libcheck
      run: |
        cd check-${{ env.LIBCHECK_VERSION }}
        sudo make install
        sudo ldconfig
    - name: Checkout asbench
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      with: 
        path: main
        submodules: recursive
    - name: Info
      run: make info
      working-directory: main
    - name: Build asbench
      run: make EVENT_LIB=${{ matrix.ev-lib }}
      working-directory: main
    - name: Test
      run: make coverage-all EVENT_LIB=${{ matrix.ev-lib }}
      working-directory: main
    - name: clear temp directories
      run: |
        rm -rf client
        rm -rf main/target
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@ab904c41d6ece82784817410c45d8b8c02684457 # v3.1.6
      with:
        verbose: false
        directory: main/test_target
        files: main/test_target/aerospike-benchmark-all.info

