name: build-artifacts.yml

permissions:
  id-token: write
  contents: read
on:
  workflow_dispatch:
  push:
    branches: [main, SERVER-216, SERVER-216-debug-jfrog]
  pull_request:
    branches: [main, SERVER-216, SERVER-216-debug-jfrog]
jobs:
  extract-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Extract Version
        id: extract
        uses: aerospike/shared-workflows/.github/actions/extract-version-from-tag@feature/INFRA-189-build-info-in-build-step
    outputs:
      version: ${{ steps.extract.outputs.version }}
      git_tag: ${{ steps.extract.outputs.git_tag }}
      source: ${{ steps.extract.outputs.source }}
  build-artifacts:
    needs: extract-version
    strategy:
      matrix:
        distro:
          [
            debian11,
            debian12,
            debian13,
            ubuntu20.04,
            ubuntu22.04,
            ubuntu24.04,
            redhat-el8,
            redhat-el9,
            amazon-2023,
          ]
        host: [ubuntu-24.04-arm, ubuntu-24.04]
    uses: aerospike/shared-workflows/.github/workflows/reusable_execute-build.yaml@9528942eff580457800a2ca2a9a0bb5e309fa80c
    with:
      runs-on: ${{ matrix.host }}
      project: database
      build-name: asbench
      build-id: ${{ github.run_number }}-buildinfo-${{ matrix.distro }}-${{ matrix.host }}
      build-script: set -x && chmod o+rw dist &&  cd local && git checkout ${{ github.ref_name }} && git submodule update --init --recursive && .github/docker/entrypoint.sh -c -d ${{ matrix.distro }} && .github/docker/entrypoint.sh -e -d ${{ matrix.distro }} && find ../dist
      artifact-directory: dist
      artifact-name: unsigned-artifacts-${{ matrix.distro }}-${{ matrix.host }}
      retention-days: 1
      dry-run: false
      artifactory-oidc-provider-name: database-gh-aerospike
      artifactory-oidc-audience: database-gh-aerospike
      publish-build-info: true
  aggregate-artifacts:
    needs: [build-artifacts]
    runs-on: ubuntu-latest
    steps:
      - name: Download All Matrix Artifacts
        uses: actions/download-artifact@v4
        with:
          path: build-artifacts
          merge-multiple: true
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: build-artifacts
          overwrite: true
          retention-days: 1
  sign-artifacts:
    needs: aggregate-artifacts
    uses: aerospike/shared-workflows/.github/workflows/reusable_sign-artifacts.yaml@9528942eff580457800a2ca2a9a0bb5e309fa80c # vn.n.n
    with:
      artifact-name: signed-artifacts
      unsigned-artifacts: build-artifacts
      artifactory-oidc-provider-name: database-gh-aerospike
      artifactory-oidc-audience: database-gh-aerospike
    secrets:
      gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
      gpg-public-key: ${{ secrets.GPG_PUBLIC_KEY }}
      gpg-key-pass: ${{ secrets.GPG_PASS }}

  upload-artifacts:
    needs: [sign-artifacts, extract-version]
    uses: aerospike/shared-workflows/.github/workflows/reusable_deploy-artifacts.yaml@9528942eff580457800a2ca2a9a0bb5e309fa80c # vn.n.n
    with:
      project: database
      build-name: asbench
      build-id: ${{ github.run_number }}
      metadata-build-id: ${{ github.run_number }}-buildinfo
      version: ${{ needs.extract-version.outputs.version }}
      artifactory-url: https://aerospike.jfrog.io
      artifactory-oidc-provider-name: database-gh-aerospike
      artifactory-oidc-audience: database-gh-aerospike
      artifact-name: ${{ needs.sign-artifacts.outputs.artifact-name }}
      retention-days: 1
      dry-run: false
  create-release-bundle:
    needs: [upload-artifacts, extract-version]
    uses: aerospike/shared-workflows/.github/workflows/reusable_create-release-bundle.yaml@9528942eff580457800a2ca2a9a0bb5e309fa80c
    if:  needs.extract-version.outputs.source  == 'tag' && startsWith(github.ref, 'refs/tags/v') && github.event_name == 'push'
    with:
      project: database
      build-names: asbench:${{ github.run_number }}
      bundle-name: asbench
      version: ${{ needs.extract-version.outputs.version }}
      artifactory-oidc-provider-name: database-gh-aerospike
      artifactory-oidc-audience: database-gh-aerospike
      dry-run: false
